body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-color: brown;
  }
  .container {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
  }
  
  .circle-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .circle-btn:hover {
    background-color: #0056b3;
  }
  
  .circle-btn:focus {
    outline: none;
  }
  
  .add-colors-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .color-box{
    border: 2px solid black;
  }
  .add-colors-btn:hover {
    background-color: #0056b3;
  }
  
  .add-colors-btn:focus {
    outline: none;
  }
  
  .color-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start; 
    overflow-y: auto;
    width: 100%;
  }
  
  .color-box {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-color-btn {
    position: absolute;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
  }
  
  .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
  }
  
  .modal-body {
    max-height: 70vh; 
    overflow-y: auto; 
  }